In [16]:
import pandas as pd
import scipy.spatial
import os 
# os.chdir("/Users/nicolaslonguetmarx/Dropbox/StateLaws")
os.chdir("/Users/revekkagershovich/Dropbox/StateLaws")
# load csv with states' data. 
# this csv is included in this gist. 
# Data taken from https://en.wikipedia.org/wiki/List_of_geographic_centers_of_the_United_States
# Updated_list_of_geographic_centers
# Coordinates correspond to Updated geographic centers of the states of the United States and Washington, DC

This dataset is valid after year of 1867. The centrality measure for states before 1920 do not exist so the data before 1867 cannot be obtained.

# Here are all the major shifts before 1867: 
Virginia - statehood: 1788, major geographical shift: 1863, brief description: Virginia lost territory when West Virginia was created.
Massachusetts - statehood: 1788, major geographical shift: 1820, brief description: Massachusetts lost the territory that became Maine.
Georgia - statehood: 1788, major geographical shift: 1802, brief description: Georgia ceded a large portion of its western lands to the federal government, which later became Alabama and Mississippi.
Texas - statehood: 1845, major geographical shift: 1850, brief description: Texas ceded significant portions to the federal government
Missouri - statehood: 1821, major geographical shift: 1836, brief description: Missouri expanded its borders with the Platte Purchase
Nevada - statehood: 1864, major geographical shift: 1866, 1867, brief description: Nevada expanded twice, gaining land from the Utah Territory in 1866 and from the Arizona Territory in 1867.
Virginia - statehood: 1788, major geographical shift: 1792, brief description: Virginia lost the territory that became Kentucky.
North Carolina - statehood: 1789, major geographical shift: 1796, brief description: North Carolina lost its western territory, which became Tennessee.
Mississippi - statehood: 1817, major geographical shift: 1819, brief description: Mississippi lost territory when Alabama was formed.
Alabama - statehood: 1819, major geographical shift: 1820s, brief description: Alabama experienced some border adjustments with Georgia.

In [17]:
statesDF = pd.read_csv("2_data/1_raw/population/mean_center_of_population_2020.txt")

In [18]:
statesDF.columns = ['statefips', 'state', 'population', 'latitude', 'longitude']

In [19]:
new_observation = pd.DataFrame({
    'statefips': [0],
    'state': ['Federal'],
    'population': [0],
    'latitude': [0],
    'longitude': [0]
})

# Append the new observation
statesDF = pd.concat([statesDF, new_observation], ignore_index=True)

In [20]:
statesDF

    statefips                 state  population   latitude   longitude
0           1               Alabama     5024279  33.016191  -86.753353
1           2                Alaska      733391  61.408891 -148.961508
2           4               Arizona     7151502  33.371388 -111.882468
3           5              Arkansas     3011524  35.199251  -92.713212
4           6            California    39538223  35.491035 -119.347852
5           8              Colorado     5773714  39.534747 -105.185361
6           9           Connecticut     3605944  41.492835  -72.878714
7          10              Delaware      989948  39.333614  -75.547709
8          11  District of Columbia      689545  38.910168  -77.013993
9          12               Florida    21538187  27.839295  -81.636016
10         13               Georgia    10711908  33.410677  -83.891248
11         15                Hawaii     1455271  21.112376 -157.485304
12         16                 Idaho     1839106  44.220476 -115.224610
13         17              Illinois    12812508  41.312077  -88.372974
14         18               Indiana     6785528  40.144178  -86.251589
15         19                  Iowa     3190369  41.936630  -93.037218
16         20                Kansas     2937880  38.480984  -96.409286
17         21              Kentucky     4505836  37.838308  -85.261296
18         22             Louisiana     4657757  30.696198  -91.474266
19         23                 Maine     1362359  44.267404  -69.764596
20         24              Maryland     6177224  39.136636  -76.802227
21         25         Massachusetts     7029917  42.273659  -71.350366
22         26              Michigan    10077331  42.864675  -84.213172
23         27             Minnesota     5706494  45.189990  -93.558751
24         28           Mississippi     2961279  32.575361  -89.566275
25         29              Missouri     6154913  38.432921  -92.234929
26         30               Montana     1084225  46.760509 -111.318567
27         31              Nebraska     1961504  41.167883  -97.222143
28         32                Nevada     3104614  37.015907 -116.173753
29         33         New Hampshire     1377529  43.149147  -71.455608
30         34            New Jersey     9288994  40.438248  -74.424465
31         35            New Mexico     2117522  34.607808 -106.332167
32         36              New York    20201249  41.471783  -74.590827
33         37        North Carolina    10439388  35.538715  -79.675021
34         38          North Dakota      779094  47.339540  -99.444952
35         39                  Ohio    11799448  40.438553  -82.796902
36         40              Oklahoma     3959353  35.606866  -96.854171
37         41                Oregon     4237256  44.753509 -122.588257
38         42          Pennsylvania    13002700  40.443486  -76.965232
39         44          Rhode Island     1097379  41.755677  -71.450484
40         45        South Carolina     5118425  34.022471  -80.996482
41         46          South Dakota      886667  43.986511  -98.922285
42         47             Tennessee     6910840  35.821189  -86.332487
43         48                 Texas    29145505  30.909581  -97.328656
44         49                  Utah     3271616  40.385835 -111.948021
45         50               Vermont      643077  44.101952  -72.824240
46         51              Virginia     8631393  37.850195  -77.765608
47         53            Washington     7705281  47.329504 -121.632620
48         54         West Virginia     1793716  38.823276  -80.671314
49         55             Wisconsin     5893718  43.723662  -89.031445
50         56               Wyoming      576851  42.694801 -106.984779
51         72           Puerto Rico     3285874  18.282916  -66.348925
52          0               Federal           0   0.000000    0.000000

In [21]:
# create distances dataframe
distancesDF = pd.DataFrame(columns=["state1", "state2", "distance"])

# Line 22 can be modified to calculate whichever distance is preferred. 
# See available options at 
# https://docs.scipy.org/doc/scipy/reference/spatial.distance.html#module-scipy.spatial.distance

for state1, lat1, lon1 in zip(statesDF.state, statesDF.latitude, statesDF.longitude):
    for state2, lat2, lon2 in zip(statesDF.state, statesDF.latitude, statesDF.longitude):
        new_row = {
            "state1": state1,
            "state2": state2,
            "distance": scipy.spatial.distance.euclidean([float(lat1), float(lon1)], [float(lat2), float(lon2)])
        }
        distancesDF = pd.concat([distancesDF, pd.DataFrame([new_row])], ignore_index=True)

#distancesDF.to_csv('state_distances.csv', index=False);

/var/folders/6h/20f1xzjj5xx3z0lxd2hqpjzc0000gp/T/ipykernel_47802/2701479821.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  distancesDF = pd.concat([distancesDF, pd.DataFrame([new_row])], ignore_index=True)

In [22]:
distancesDF

       state1         state2    distance
0     Alabama        Alabama    0.000000
1     Alabama         Alaska   68.381284
2     Alabama        Arizona   25.131625
3     Alabama       Arkansas    6.347099
4     Alabama     California   32.688319
...       ...            ...         ...
2804  Federal  West Virginia   89.527134
2805  Federal      Wisconsin   99.188491
2806  Federal        Wyoming  115.189361
2807  Federal    Puerto Rico   68.821834
2808  Federal        Federal    0.000000

[2809 rows x 3 columns]

In [25]:
distancesDF.to_csv('2_data/2_intermediate/state_distances.csv', index=False);